<div id="laptop">
    <div id="header">
        <p id="awe">Awesome Kanban Board</p> 
        <div id="user-menu">
            <img id="vector" src="/src/img/Vector.jpg" alt="menu">
            <img id="vector1" src="/src/img/galka.png" alt="menu1">
            <img id="u-a" src="/src/img/user-avatar.png" alt="user-avatar">
        </div>
    </div>
    
    <div id="laptop_content"></div>
    
    <div id="footer">
        <p id="at">Active tasks: &lt;N&gt;</p> <p id="ft">Finished tasks: &lt;M&gt;</p> <p id="kb">Kanban board by &lt;NAME&gt;, &lt;YEAR&gt;</p> 
    </div>
</div>