<div id="laptop">
    <div id="header">
        <p id="awe">Awesome Kanban Board</p> 
        <div id="user-menu">
            <button id="user-menu_f1" class="btn-user-menu_f1" type="submit">
                <div>
                    <img id="u-a" src="/src/img/Ellipse 1.png" alt="user-avatar-fon">
                    <img id="u-a" src="/src/img/user-avatar.png" alt="user-avatar"></div>
                <div id="galka_f1" class="izm-galka_f1"><img id="vector1" src="/src/img/galka.png" alt="menu1"></div>
            </button>
            <div id="menu_user"></div>
        </div>
    </div>
    
    <div id="laptop_content"></div>
    
    <div id="footer">
        <p id="at">Active tasks: &lt;N&gt;</p> <p id="ft">Finished tasks: &lt;M&gt;</p> <p id="kb">Kanban board by &lt;NAME&gt;, &lt;YEAR&gt;</p> 
    </div>
</div>