<div id="laptop">
    <div id="header">
        <p id="awe">Awesome Kanban Board</p> 
        <div id="user-menu">
            <button id="user-menu_f1" class="btn-user-menu_f1" type="submit">
                <div>
                    <img id="u-a" src="/src/img/Ellipse 1.png" alt="user-avatar-fon">
                    <img id="u-a" src="/src/img/user-avatar.png" alt="user-avatar"></div>
                <div id="galka_f1" class="izm-galka_f1"><img id="vector1" src="/src/img/galka.png" alt="menu1"></div>
            </button>
            <div id="menu_user"></div>
        </div>
    </div>
    
    <div id="laptop_content">
        <div id="Rectangle_2">
            <div id="heading_in_block">Backlog</div>
            <div id="block_text1">
                <p id="t1">::-webkit-scrollbar-button {
                    background-image:url('');
                    background-repeat:no-repeat;
                    width:6px;
                    height:0px
                    }
                    ::-webkit-scrollbar-track {
                    background-color:#32312e;
                    box-shadow:0px 0px 3px #000 inset;
                    }
                    ::-webkit-scrollbar-thumb {
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    background-color:#ffcb17;
                    box-shadow:0px 1px 1px #fff inset;
                    background-image:url('https://yraaa.ru/_pu/24/59610063.png');
                    background-position:center;
                    background-repeat:no-repeat;
                    }
                </p>
                <p id="t1">::-webkit-resizer{
                    background-image:url('');
                    background-repeat:no-repeat;
                    width:7px;
                    height:0px
                    }
                    ::-webkit-scrollbar{
                    width: 11px;
                    }</p>
                <p id="t1">::-webkit-resizer{
                    background-image:url('');
                    background-repeat:no-repeat;
                    width:7px;
                    height:0px
                    }
                    ::-webkit-scrollbar{
                    width: 11px;
                    }</p> 
                    <p id="t1">::-webkit-resizer{
                        background-image:url('');
                        background-repeat:no-repeat;
                        width:7px;
                        height:0px
                        }
                        ::-webkit-scrollbar{
                        width: 11px;
                        }</p>
                        <p id="t1">::-webkit-scrollbar-button {
                            background-image:url('');
                            background-repeat:no-repeat;
                            width:6px;
                            height:0px
                            }
                            ::-webkit-scrollbar-track {
                            background-color:#32312e;
                            box-shadow:0px 0px 3px #000 inset;
                            }
                            ::-webkit-scrollbar-thumb {
                            -webkit-border-radius: 5px;
                            border-radius: 5px;
                            background-color:#ffcb17;
                            box-shadow:0px 1px 1px #fff inset;
                            background-image:url('https://yraaa.ru/_pu/24/59610063.png');
                            background-position:center;
                            background-repeat:no-repeat;
                            }
                        </p>
            </div>
            <button id="add_c1"><img src="/src/img/Plus_add.png" alt="Plus_add">Add card</button>     
        </div>
        
        <div id="Rectangle_21">
            <p id="heading_in_block">Ready</p>
            <div id="block_text2"></div>
            <button id="add_c2"><img src="/src/img/Plus_add.png" alt="Plus_add">Add card</button>   
        </div>
            
        <div id="Rectangle_22">
            <p id="heading_in_block">In Progress</p>
            <div id="block_text3"></div>
            <button id="add_c3"><img src="/src/img/Plus_add.png" alt="Plus_add">Add card</button>   
        </div>
        
        <div id="Rectangle_23">
            <p id="heading_in_block">Finished</p>
            <div id="block_text4"></div>
            <button id="add_c4"><img src="/src/img/Plus_add.png" alt="Plus_add">Add card</button>   
        </div>
        </div>
        
    
    <div id="footer">
        <p id="at">Active tasks: &lt;N&gt;</p> <p id="ft">Finished tasks: &lt;M&gt;</p> <p id="kb">Kanban board by &lt;NAME&gt;, &lt;YEAR&gt;</p> 
    </div>

</div>