#app-login-btn {
  width: 160px;
}

#app-logout-btn {
  display: none;
}

#laptop {
  position: relative;
width: 1235px;
height: 700px;
background: #0079BF;
}

#header {
  position: absolute;
width: 1235px;
height: 55px;
left: 0px;
top: 0px;
background: #0067A3;
}

#awe {
  position: absolute;
width: 331px;
height: 26px;
left: 20px;
top: 11px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 33px;
color: #FFFFFF;
}

#user-menu {
  position: absolute;
width: 64px;
height: 40px;
left: 1155px;
top: 7px;
}

#vector1 {
position: absolute;
left: 46px;
right: 25%;
top: 34.21%;
bottom: 34.9%;
}

#u-a {
  position: absolute;
width: 40px;
height: 40px;
left: 0px;
top: 0px;
}

#u-v {
  position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
}

#footer {
position: absolute;
width: 1235px;
height: 55px;
left: 0px;
top: 645px;
background: #0067A3;
}

#at {
  position: absolute;
width: 138px;
height: 21px;
left: 21px;
top: 17px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}

#ft {
  position: absolute;
width: 159px;
height: 21px;
left: 195px;
top: 17px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}

#kb {
  position: absolute;
width: 279px;
height: 21px;
left: 937px;
top: 17px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}

#user-menu_f1 {
  position: absolute;
width: 85px;
height: 50px;
right: 10px ;
top: 0px;
background: none;
border: none;
}

#Rectangle {
  position: absolute;
width: 11px;
height: 11px;
right: 109%;
top: 110%;
background: #ffffff;
transform: rotate(45deg);
}

#vector2 {
  position: absolute;
  left: 46px;
  right: 25%;
  top: 25.21%;
  bottom: 34.9%;
  }

  #text_m-u {
margin-left: 10%;
margin-top: 5%;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #000000;
}

#u-m_blok-txt {
position: absolute;
z-index: 100;
width: 134px;
height: 60px;
right: 50%;
top: 125%;
background: #FFFFFF;
border-radius: 5px;
}

#Rectangle_21 {
  position: absolute;
  width: 282px;
  min-height: 100px;
  max-height: 560px;
  left: 26%;
  top: 10%;
  background: #EBECF0;
  border-radius: 10px;
  }

#Rectangle_22 {
  position: absolute;
  width: 282px;
  min-height: 100px;
  max-height: 560px;
  left: 51%;
  top: 10%;
  background: #EBECF0;
  border-radius: 10px;
  }

#Rectangle_23 {
  position: absolute;
  width: 282px;
  min-height: 100px;
  max-height: 560px;
  left: 76%;
  top: 10%;
  background: #EBECF0;
  border-radius: 10px;
  }

  #Rectangle_2 {
  position: absolute;
  width: 282px;
  min-height: 100px;
  height: fit-content;
  max-height: 560px;  
  left: 1%;
  top: 10%;
  background: #EBECF0;
  border-radius: 10px;
  }

#heading_in_block {
position: absolute;
float: inline-start;
left: 12px;
right: 38px;
top: 12px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #000000;
}

div[id^="block_text"] {
  position: absolute;
  float: inline-start;
  overflow: auto;
  width: 278px;
  height: fit-content;
  max-height: 480px;
  top: 44px;
}

button[id^="add_c"] {
  position: absolute;
  float: inline-end;
  bottom: 8px;
  left: 12px;
  width: 215px;
  height: 21px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #5E6C84;
  text-align: left;
  
  }

::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:6px;
  height:0px
  }
  ::-webkit-scrollbar-track {
  background-color:#FFFFFF;
  box-shadow:0px 0px 3px #FFFFFF;
  }
  ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color:#CBCBCB;
  box-shadow:0px 1px 1px #fff inset;
  background-image:url('');
  background-position:center;
  background-repeat:no-repeat;
  }
  ::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:7px;
  height:0px
  }
  ::-webkit-scrollbar{
  width: 11px;
  }

  #t1 {
position:relative;
width: 250px;
height: fit-content;
left: 12px;
margin-top: 10px;
word-wrap: break-word;
background: #FFFFFF;
border-radius: 5px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #000000;
  }